* {
  font-family: "Montserrat", sans-serif;
  color: #10221b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #10221b;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1220px !important;
  }
}

section:not(#home) {
  padding: 6rem 0;
}

.section-heading h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.zoom-effect-img {
  overflow: hidden;
}

.zoom-effect-img img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.zoom-effect-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.left-arrow-animate {
  -webkit-animation: sliderArrowLeft 0.6s infinite alternate ease-in-out;
          animation: sliderArrowLeft 0.6s infinite alternate ease-in-out;
}

.right-arrow-animate {
  -webkit-animation: sliderArrowRight 0.6s infinite alternate ease-in-out;
          animation: sliderArrowRight 0.6s infinite alternate ease-in-out;
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
}

header.snap {
  background-color: #fff;
  -webkit-box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  text-transform: capitalize;
}

header .container .logo {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

header .container .logo .fas {
  color: #219150;
  margin-right: 6px;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

header .container nav ul.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2.2rem;
}

@media (max-width: 992px) {
  header .container nav ul.navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 35rem;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 2rem 0 5rem rgba(0, 0, 0, 0.3);
            box-shadow: 2rem 0 5rem rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 1000;
    -webkit-transform: translateX(-140%);
            transform: translateX(-140%);
  }
  header .container nav ul.navigation.show-mobile-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .container nav ul.navigation li a {
    font-size: 2.8rem;
  }
  header .container nav ul.navigation i#mobile-menu-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  header .container nav ul.navigation i#mobile-menu-close:hover::before {
    color: #219150;
  }
  header .container nav ul.navigation i#mobile-menu-close::before {
    font-size: 6rem;
  }
}

header .container nav a {
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

header .container nav a:hover {
  color: #219150;
}

header .container nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header .container nav .nav-icons a,
header .container nav .nav-icons .fas {
  font-size: 2.6rem;
}

header .container nav .nav-icons a:hover, header .container nav .nav-icons a:hover::before,
header .container nav .nav-icons .fas:hover,
header .container nav .nav-icons .fas:hover::before {
  color: #219150;
}

header .container nav .nav-icons .fas {
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#nav-search-box {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 1000;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#nav-search-box.search-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#nav-search-box .fas:hover {
  color: #219150;
}

#nav-search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  padding: 1.5rem 0;
  border-bottom: 2px solid #fff;
}

#nav-search-box form input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}

#nav-search-box form button.fas {
  background-color: transparent;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

#nav-search-box #close-search {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
}

#nav-search-box #close-search:hover {
  color: #219150;
}

section#home {
  height: 100vh;
}

section#home .swiper,
section#home .swiper-wrapper,
section#home .swiper-slide,
section#home .slider-box {
  height: 100%;
}

section#home .swiper-slide .slider-box {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 9%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section#home .swiper-slide .slider-box.slider-box-1 {
  background-image: url("../images/home-bg-1.jpg");
}

section#home .swiper-slide .slider-box.slider-box-2 {
  background-image: url("../images/home-bg-2.jpg");
  background-position: bottom right;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section#home .swiper-slide .slider-box.slider-box-3 {
  background-image: url("../images/home-bg-3.jpg");
}

section#home .swiper-slide .slider-box .slider-content {
  width: 50rem;
}

section#home .swiper-slide .slider-box .slider-content span {
  font-size: 4rem;
  font-weight: 500;
  text-transform: capitalize;
}

section#home .swiper-slide .slider-box .slider-content h3 {
  font-size: 6rem;
  font-weight: 700;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: #219150;
}

section#home .swiper-slide .slider-box .slider-content p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.85;
  padding: 1rem 0;
}

section#home .swiper-slide .slider-box .slider-content .btn {
  margin-top: 1rem;
}

section#home .swiper-button-next::after,
section#home .swiper-button-prev::after {
  color: #10221b;
  font-size: 3rem;
}

@media (max-width: 768px) {
  section#home .swiper-slide .slider-box {
    background-position: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#home .swiper-slide .slider-box.slider-box-2 {
    background-position: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#home .swiper-slide .slider-box .slider-content {
    text-align: center;
  }
}

footer#footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) center no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer-bg.jpg) center no-repeat fixed;
  background-size: cover;
  text-transform: capitalize;
  padding: 4rem 0;
}

footer#footer .row h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

footer#footer .row li {
  margin: 1.5rem 0;
}

footer#footer .row a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem 0;
}

footer#footer .row a:hover {
  color: #219150;
  width: 100%;
}

footer#footer .row a:hover i {
  padding-right: 1rem;
}

footer#footer .row a i {
  color: #219150;
  padding-right: 0.5rem;
}

section#about {
  background-color: #eee;
}

section#about .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about .about-img {
  width: 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  cursor: pointer;
}

section#about .about-img img {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.26s;
          transition-duration: 0.26s;
}

section#about .about-img:hover img {
  -webkit-transform: translateX(0.6rem) translateY(0.6rem);
          transform: translateX(0.6rem) translateY(0.6rem);
  -webkit-box-shadow: 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.1);
}

section#about .about-content {
  padding: 2rem;
}

section#about .about-content h3 {
  color: #219150;
  font-size: 3rem;
  margin-bottom: 2rem;
}

section#about .about-content p {
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 2rem;
}

section#packages {
  background-color: #eee;
}

section#packages .section-heading h1 {
  margin-bottom: 1.5rem;
}

section#reviews .swiper-button-prev::after,
section#reviews .swiper-button-next::after {
  font-size: 2rem;
  color: #10221b;
}

section#reviews .swiper-button-next::after {
  margin-right: -2.2rem;
}

section#reviews .swiper-button-prev::after {
  margin-left: -2.2rem;
}

section#services {
  background-color: #eee;
}

section#contact {
  text-align: center;
}

section#contact .section-heading h1 {
  margin-bottom: 2.5rem;
}

section#contact .contact-text p {
  max-width: 70rem;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.8;
}

section#contact .contact-form {
  margin-top: 2.5rem;
}

section#contact .contact-form form {
  margin: 0 auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #10221b;
  border-radius: 99rem;
  padding: 0.8rem;
}

section#contact .contact-form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 0.5rem;
  border-radius: 99rem;
}

section#contact .contact-form form a.btn {
  border-radius: 99rem;
  background-color: #10221b;
  color: #fff;
  font-weight: 600;
  padding: 1rem 3.5rem;
}

section#contact .contact-form form a.btn:hover {
  background-color: #fff;
  color: #10221b;
}

section#client-logos {
  background-color: #eee;
}

section#client-logos .row div {
  text-align: center;
  margin: 4rem 0;
}

section#client-logos .row div img {
  height: 12rem;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: #10221b;
  border: 2px solid #10221b;
  padding: 1.25rem 3rem;
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 700;
}

.btn-small {
  font-size: 1.65rem;
  padding: 1rem 2.4rem;
}

.btn:hover {
  color: #fff;
  background-color: #10221b;
}

.ideas-cards {
  margin: 1.5rem 0;
  text-align: center;
}

.ideas-cards .card-img {
  width: 18rem;
  height: 18rem;
  margin: 1rem auto;
  border-radius: 9999px;
  overflow: hidden;
  cursor: pointer;
}

.ideas-cards .card-content {
  padding: 0.65rem 2rem;
}

.ideas-cards .card-content h3 {
  color: #219150;
  margin-bottom: 1rem;
}

.ideas-cards .card-content p {
  line-height: 1.65;
  font-weight: 500;
  margin-bottom: 2rem;
}

.shop-cards-container .shopping-card {
  width: 28rem;
  border: 2px solid #10221b;
  border-radius: 5px;
  cursor: pointer;
}

.shop-cards-container .shopping-card--img {
  height: 30rem;
  overflow: hidden;
}

.shop-cards-container .shopping-card--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-cards-container .shopping-card--text {
  margin-bottom: 1.4rem;
  text-align: center;
}

.shop-cards-container .shopping-card--text .featured-product-name {
  font-size: 2rem;
  margin-top: 1.125rem;
}

.shop-cards-container .shopping-card--text .featured-product-price {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.8rem 0;
  color: #219150;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 3rem;
  color: #10221b;
}

.package-card {
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
  border: 2px solid #10221b;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.package-card--img {
  border-radius: 5px;
  overflow: hidden;
}

.package-card--content {
  text-align: center;
  margin-top: 1.65rem;
}

.package-card--content h3,
.package-card--content .package-pricing {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.package-card--content .package-pricing {
  color: #219150;
  font-weight: 500;
}

.package-card--content p {
  font-weight: 500;
}

.package-card--content a.btn {
  border-radius: 5px;
}

.package-card--content a.btn:hover {
  background-color: #fff;
  color: #10221b;
}

.package-card:hover {
  background-color: #10221b;
}

.package-card:hover h3,
.package-card:hover p,
.package-card:hover a {
  color: #fff;
  border-color: #fff;
}

.review-card {
  width: 40rem;
}

.review-card .client-testimonial {
  background-color: #eee;
  padding: 2.4rem;
  line-height: 2;
  font-size: 1.55rem;
  font-style: italic;
  margin-bottom: 3rem;
  position: relative;
}

.review-card .client-testimonial::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.review-card .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
}

.review-card .client-info .client-photo img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.review-card .client-info .client-name {
  font-size: 1.86rem;
  font-weight: 800;
}

.review-card .client-info .client-occupation {
  color: #219150;
  font-weight: 500;
}

.service-card {
  padding: 2rem;
  margin-top: 3rem;
  border: 2px solid #10221b;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.service-card--img {
  border-radius: 5px;
  overflow: hidden;
}

.service-card--img img {
  height: 10rem;
}

.service-card--content {
  margin-top: 1.25rem;
}

.service-card--content h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #219150;
}

.service-card--content p {
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

.service-card--content a.btn {
  border-radius: 5px;
}

.service-card--content a.btn:hover {
  background-color: #fff;
  color: #10221b;
}

.service-card:hover {
  background-color: #10221b;
}

.service-card:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.service-card:hover p,
.service-card:hover a {
  color: #fff;
  border-color: #fff;
}

@-webkit-keyframes sliderArrowRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
    opacity: 0.9;
  }
}

@keyframes sliderArrowRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateX(-0.4rem);
            transform: translateX(-0.4rem);
    opacity: 0.9;
  }
}

@-webkit-keyframes sliderArrowLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateX(0.4rem);
            transform: translateX(0.4rem);
    opacity: 0.9;
  }
}

@keyframes sliderArrowLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateX(0.4rem);
            transform: translateX(0.4rem);
    opacity: 0.9;
  }
}
/*# sourceMappingURL=main.css.map */