section#home {
	height: 100vh;

	.swiper,
	.swiper-wrapper,
	.swiper-slide,
	.slider-box {
		height: 100%;
	}

	.swiper-slide {
		.slider-box {
			background-position: bottom left;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			align-items: center;
			padding: 2rem 9%;
			justify-content: flex-end;

			&.slider-box-1 {
				background-image: url("../images/home-bg-1.jpg");
			}
			&.slider-box-2 {
				background-image: url("../images/home-bg-2.jpg");
				background-position: bottom right;
				justify-content: flex-start;
			}
			&.slider-box-3 {
				background-image: url("../images/home-bg-3.jpg");
			}

			.slider-content {
				width: 50rem;

				span {
					font-size: 4rem;
					font-weight: 500;
					text-transform: capitalize;
				}

				h3 {
					font-size: 6rem;
					font-weight: 700;
					padding-top: 1.2rem;
					padding-bottom: 1.5rem;
					text-transform: uppercase;
					color: $primary-color;
				}

				p {
					font-size: 1.7rem;
					font-weight: 500;
					line-height: 1.85;
					padding: 1rem 0;
				}

				.btn {
					margin-top: 1rem;
				}
			}
		}
	}

	.swiper-button-next::after,
	.swiper-button-prev::after {
		color: $secondary-color;
		font-size: 3rem;
	}
}

@media (max-width: 768px) {
	section#home .swiper-slide .slider-box {
		background-position: right;
		justify-content: center;

		&.slider-box-2 {
			background-position: left;
			justify-content: center;
		}

		.slider-content {
			text-align: center;
		}
	}
}
