* {
	font-family: "Montserrat", sans-serif;
	color: $secondary-color;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 8px;
}

html::-webkit-scrollbar-thumb {
	background-color: $secondary-color;
}

html::-webkit-scrollbar-track {
	background-color: $white-color;
}

body {
	font-size: $default-font-size;
	font-weight: 400;
}

@media (min-width: 1300px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1220px !important;
	}
}

section {
	padding: 4rem 0;
}

h1,
h2,
h3 {
	text-transform: capitalize;
}

img {
	max-width: 100%;
	height: auto;
}
